*{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: rgb(239, 239, 239);
    padding: 0px 20px;
}

.name{
    font-size: 65px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0px;
}

.intention{
    font-size: 40px;
    margin-top: 0px;
    text-align: right;
    padding-top: 0px;
    margin-bottom: 0px;
}

.left, .right{
    display: inline-block;
}

.right{
    padding: 0px 30px;
}

.line{
    padding-left: 800%;
    margin-left: 10px;
    border-bottom: 1px solid black;
}

.fields, .values{
    display: inline-block;
}

.values{
    color: rgb(87, 85, 85);
    margin-left: 5px;
}

.dados p{
    margin-top: 0px;
    margin-bottom: 0px;
}

.description{
    margin-left: 260px;
    margin-top: 66px;
    position: absolute;
    float: right;
}

.description p, h3{
    margin-top: 0px;
    margin-bottom: 0px;
}

.picture{
    width: 250px;
    float: left;
}

h2{
    padding-top: 50px;
    margin-bottom: 30px;
    font-size: 50px;
}

.attribute div p, .skills div p{
    margin: 0px 3px;
}

.ball, .ballFilled{
    border-radius: 50%;
    display: inline-flex;
    height: 16px;
    width: 16px;
    border: 1px solid #000000;
}

.ballFilled{
    background-color: #000000;
}

.attributeField{
    font-size: 25px;
    padding-right: 10;
    margin: 0px 0px;
    width: 280px;
}

.attributeField, .attributeValues{
    display: inline-block;
}

.attributeSpace{
    margin: 8px 0px
}

.attributeCollum{
    display: inline-block;
    margin-right: 15px;
    width: 500px;
}

#line{
    width: 800px;
    margin: 50px 50px;
    position: absolute;
}

@media screen and (max-width: 1052px){
    .left{
        margin-left: max(4vw, 12px);
        padding-bottom: 0px;
        padding-top: 0px;
    }
    
    .picture{
        float:none;
        width: 80vw;
    }

    .intention{
        margin-top: 30px;
        margin-bottom: 0px;
        text-align: left;
        font-size: 7vw;
    }

    .description{
        margin-left: 0px;
        margin-right: 4vw;
        position: none;
        float: none;
        font-size: 3vw;
    }

    .description h3{
        font-size: 5vw
    }

    .dados{
        font-size: max(3vw, 8px);
        align-content: left;
        display: none;
    }

    .name{
        font-size: 10vw;
        text-align: center;
    }
}